<h1>Editing Dog</h1>

<%= render 'form' %>

<%= link_to 'Show', @dog %> |
<%= link_to 'Back', dogs_path %>
 <%= link_to fa_icon('trash', text: 'Delete'), @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'%>
