<h1>Editing Dog</h1>

<%= render 'form' %>
<br>

<%= link_to fa_icon('chevron-left', text:'Back'), dogs_path, class: 'btn btn-primary btn-sm' %>

<%= link_to fa_icon('eye', text: 'View'), @dog, class: 'btn btn-primary btn-sm'%>

<%= link_to fa_icon('trash', text: 'Delete'), @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm'%>
